<!DOCTYPE html>
<html lang="de">
<%- partial('_partial/head') %>  
<%- partial('_partial/header') %>   
<main>
  <div class="container"> 
      <%- body %>
  </div>
</main>  
    
<%- partial('_partial/footer') %>   
</html>